<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
   
    <ion-button type="button" expand="block"  color="primary" class="ion-margin-top" routerLink="/form-recompensa">
      NOVA RECOMPENSA</ion-button>
      
      <ion-list>

          <ion-item *ngFor="let cadastros of cadastro">
           
                  <ion-label >
                    <h2>{{ cadastros }}</h2><br>
                  </ion-label>
                  <ion-button (click)="excluir(cadastros)" fill="clear">
                      <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>
        
        </ion-list>
      
      
  
</ion-content>