<ion-header>

  </ion-header>
  
  <ion-content class="ion-padding">
    <h1>Área do cliente</h1>
   

  <ion-grid>
      <ion-row>
        <ion-col>
            <button class="button" routerLink="/historico-consumo" block>
            <img src="assets/cadastro-tipo-consumo.png">
            <p>Meu Consumo</p>
              
            </button>
            <button class="button" routerLink="/estabelecimentos-proximos" block>
            <img src="assets/estabelecimento.png">
            <p>Estabelecimentos</p>
            </button>
           
    
        </ion-col>
        </ion-row>
   </ion-grid>
   <p id="p-1"><a routerLink="/cadastro-estabelecimento">Sair da área do estabelecimento</a></p>
  </ion-content>