<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button type="button" expand="block" color="primary" class="ion-margin-top" routerLink="/form-tipo-consumo">
    NOVO TIPO DE CONSUMO</ion-button>

  <ion-list>    
    <ion-item *ngFor="let consumo of consumos">
      <ion-label>
          <h2>{{ consumo }}</h2>
        </ion-label>
        <ion-button (click)="excluir(consumo)" fill="clear">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>

</ion-content>