<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label class="label" position="floating">Pesquisar( min 3 digitos, pesquisa dinâmica)</ion-label>
    <ion-input [(ngModel)]="pesquisa" name="pesquisa" type="text"></ion-input>
  </ion-item>
  <div class="div1">
    
    <div *ngFor="let usuario of usuarios">
      <div *ngIf="pesquisa.length < 2 || (usuario.email+''+usuario.telefone+''+usuario.recompensa).toLowerCase().indexOf(pesquisa.toLowerCase()) !== -1" class="container-usuario">
          <p>Usuário:</p>
          <p><b>{{ usuario.email }} / {{ usuario.telefone }}</b></p>
          <p>Recompensa:</p>
          <p><b>{{ usuario.recompensa }}</b></p>
          <ion-button type="button"  color="medium"  class="ion-margin-top">Rejeitar</ion-button>
          <ion-button type="button"  color="primary"  class="ion-margin-top">Aceitar</ion-button>
      </div>
    </div>

  </div>
  <hr>
 
</ion-content>
