<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="ion-padding">
  <ion-item>
      <ion-button expand="block" color="primary" (click)="camera()">Scan</ion-button>
  </ion-item>
  
      
  
       
  </ion-content>