<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content class="ion-padding">
  
        <form [formGroup]="loginForm" (submit)="salva()" novalidate>
            <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input [(ngModel)]="nome" name="nome" formControlName="nome" type="text"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Quantidades de pontos</ion-label>
                  <ion-input [(ngModel)]="pontos" name="pontos" formControlName="pont" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Os pontos devem vir do consumo de (em branco:TODOS)</ion-label>
                    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
                      <ion-select-option value="1">1</ion-select-option>
                      <ion-select-option value="2">2</ion-select-option>
                      <ion-select-option value="3">3</ion-select-option>
                      <ion-select-option value="4">4</ion-select-option>
                      <ion-select-option value="5">5</ion-select-option>
                      <ion-select-option value="6">6</ion-select-option>
                      <ion-select-option value="7">7</ion-select-option>
                      <ion-select-option value="8">8</ion-select-option>
                      <ion-select-option value="9">9</ion-select-option>
                      <ion-select-option value="10">10</ion-select-option>
                    </ion-select>
                  </ion-item>
                  
         
          
          <ion-button type="submit" expand="block" color="primary" class="ion-margin-top">
            Cadastrar</ion-button>
        </form>
     
</ion-content>