<ion-header>
 
</ion-header>



<h1>Cartão Fidelidade</h1>

<ion-content class="ion-padding">
        <form [formGroup]="loginForm" (submit)="login()" novalidate>
          <ion-item class="ion-margin-bottom">
            <ion-label>Email</ion-label>
            <ion-input [(ngModel)]="email" formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Senha</ion-label>
            <ion-input [(ngModel)]="password" formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" color="primary" class="ion-margin-top ion-margin-bottom">
            Entrar</ion-button>
        </form>
       <ion-button expand="block" color="medium" routerLink="/cadastro-cliente">Cadastrar</ion-button>
       <p><a routerLink="/cadastro-estabelecimento">Você é um estabelecimento comercial e não tem conta ainda?
Clique aqui para realizar seu cadastro.</a></p>
        
</ion-content>
